$default-font: 'Raleway', sans-serif;
$dark-background: #1e2226;
$background-color: #f3f3f3;
$default-font-color: #5d646c;
$sidebar-bg: #51b5e0;

$color-grey: #34383c;
$color-white: #ffffff;
$color-light-grey: #4b5056;
$color-orange: #F15952;
$color-blue: #6CBDE4;
$color-green: #68C078;
$color-red: #F05852;

$search-icon-color: #687079;

$font-normal: 400;
$font-bold: 700;
$font-grey: #939aa2;
