.sidebar {
  background-color: $sidebar-bg;
  padding: 1rem 0 !important;
  .menu.icon {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    width: 100% !important;
    > .item {
      min-width: 0 !important;
      color: $color-white;
      padding: 1.3em 0;
      margin-left: 15px;
      border-radius: 0 !important;
      font-size: 0.84rem;
      &:hover {
        color: $color-white;
        background: transparent;
        font-weight: $font-bold;
      }
      &:before {
        background: transparent;
      }
      img.icon {
        margin: 0 auto 6px auto;
        display: block;
      }
    }
  }
  .ui.list {
    > .item {
      padding: 0.5em 0 !important;
    }
  }
}