.app.card {
  padding: 10px !important;
  min-height: 120px;
  .content {
    .header {
      font-size: 1.2em;
    }
    .meta {
      font-size: 0.9em;
    }
  }
  .extra.content {
    position: absolute;
    bottom: 14px;
    .ui.button {
      box-shadow: none;
      padding: 0.78571429em 0 0.78571429em;
      margin-right: 20px;
    }
  }
}

.app.view {
  .ui.items {
    .item {
      position: relative;
      margin: 4em 0;
      &.disabled {
        opacity: 0.55;
      }
      .ui.image {
        background-color: $color-orange;
        border-radius: 78px;
        padding: 40px;
        width: initial;
        img {
          width: 30px;
          height: 30px;
        }
      }
      >.content {
        >.description, >.header {
          width: 65%;
        }
      }
      .extra {
        position: absolute;
        top: 25%;
      }
      &:first-child {
        margin-top: 4em;
      }
    }
  }
}
