.user.stats {
  .two.wide.column {
    text-align: center;
    .ui.statistic {
      .value {
        color: $default-font-color;
      }
      .label {
        color: $default-font-color;
        font-size: 0.85em;
      }
    }
  }
  .seven.wide.column {
    .ui.progress {
      cursor: pointer;
      background-color: #1E2226;
      > .label {
        color: $default-font-color;
        text-align: left;
      }
    }
  }
}
