.mardown-editor-container {
  border: 2px solid $sidebar-bg;
  padding: 5px;
  min-height: 111px;
  &:focus {
    outline: 0;
  }
}

.item-field {
  border: 2px solid $sidebar-bg !important;
  border-radius: 0 !important;
}

.items-preview {
  border: 3px dashed #DFDEDE;
  .ui.header {
    background-color: $color-grey;
    text-align: center;
    color: $color-white;
    padding: 14px 0;
  }
  .ui.form {
    padding: 20px;
  }
}
