.mardown-editor-container {
  border: 1px solid $color-light-grey;
  padding: 5px;
  min-height: 111px;
  &:focus {
    outline: 0;
  }
}

.items-preview {
  border: 3px dashed #DFDEDE;
  .ui.header {
    background-color: $color-grey;
    text-align: center;
    color: $color-white;
    padding: 14px 0;
  }
  .ui.form {
    padding: 20px;
  }
}

.item-edit {
  .containers-list, .items-list {
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    padding-top: 50px !important;
    background-color: $color-white;
    .item {
      padding: 1.25em 1em;
      &.active {
        background-color: $background-color;
      }
      &:first-child {
        padding-top: 1.25em;
      }
      &:last-child {
        padding-bottom: 1.25em;
      }
    }
  }
  .containers-list {
    .item {
      &.active {
        i {
          color: $color-green !important;
        }
      }
    }
  }
  .items-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .item {
      a.header {
        color: $color-grey !important;
      }
      .description {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
